* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: indianred;
}

.memory-game {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px .3;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s; /* adiciona efeito de movimento ao flip do card */
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: cornsilk;
    backface-visibility: hidden; /* todo elemento tem uma frente e um verso (ao contrario, como um espelho.) essa propriedade retira o verso */
}

/* estilizar a classe no js pra quando o elemento da carta tiver essa classe dê pra fazer o toggle funcionar */
.card-front {
    transform: rotateY(180deg);
} /* antes, o verso aparecia transparente, pois ambas as imagens tem position absolute, ao girar no eixo Y, elas ficaram com os versos virados */

/* flip card animation */
.card.flip {
    transform: rotateY(180deg);
}